---
import "@styles/expressive-code.css";
import "@styles/layout.css";
import "@styles/main.css";
import "@styles/markdown-extend.css";
import "@styles/markdown.css";
import "@styles/photoswipe.css";
import "@styles/scrollbar.css";
import "@styles/transition.css";
import "@styles/twikoo.css";
import "@styles/variables.css";

import { Font } from "astro:assets";
import ConfigCarrier from "@components/core/ConfigCarrier.astro";
import SEO from "@components/core/SEO.astro";
import LayoutManager from "@components/layout/LayoutManager.svelte";
import ScrollManager from "@components/layout/ScrollManager.svelte";
import ImageManager from "@components/media/ImageManager.svelte";
import {
	AUTO_MODE,
	BANNER_HEIGHT,
	BANNER_HEIGHT_EXTEND,
	BANNER_HEIGHT_HOME,
	DARK_MODE,
	DEFAULT_THEME,
	LIGHT_MODE,
	PAGE_WIDTH,
} from "@constants/constants";
import { pathsEqual, url } from "@utils/url-utils";
import { profileConfig, siteConfig } from "@/config";
import type { Favicon } from "@/types/config";
import "katex/dist/katex.css";

interface Props {
	title?: string;
	description?: string;
	lang?: string;
	setOGTypeArticle?: boolean;
	postSlug?: string;
}

let { title, description, lang, setOGTypeArticle, postSlug } = Astro.props;

// apply a class to the body element to decide the height of the banner, only used for initial page load
// Swup can update the body for each page visit, but it's after the page transition, causing a delay for banner height change
// so use Swup hooks instead to change the height immediately when a link is clicked
const isHomePage = pathsEqual(Astro.url.pathname, url("/"));

// defines global css variables
// why doing this in Layout instead of GlobalStyles: https://github.com/withastro/astro/issues/6728#issuecomment-1502203757
const configHue = siteConfig.themeColor.hue;

const pageTitle = title
	? `${title} - ${siteConfig.title}`
	: `${siteConfig.title} - ${siteConfig.subtitle}`;

const ogImageUrl =
	siteConfig.generateOgImages && postSlug
		? new URL(`/og/${postSlug}.png`, Astro.site).toString()
		: siteConfig.banner.src
			? new URL(url(siteConfig.banner.src), Astro.site).toString()
			: undefined;

const favicons: Favicon[] = siteConfig.favicon;

const siteLang = (lang || siteConfig.lang).replace("_", "-");

const bannerOffsetByPosition: Record<string, string> = {
	top: `${BANNER_HEIGHT_EXTEND}vh`,
	center: `${BANNER_HEIGHT_EXTEND / 2}vh`,
	bottom: "0",
};
const bannerOffset =
	bannerOffsetByPosition[siteConfig.banner.position || "center"];
---

<!doctype html>
<html
	lang={siteLang}
	class="bg-(--page-bg) transition text-[14px] md:text-[16px]"
	data-overlayscrollbars-initialize
>
	<head>
		<Font cssVariable="--jetbrains-mono" />
		<link
			rel="preconnect"
			href="https://cdnjs.cloudflare.com"
			crossorigin
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/misans-webfont/4.3.1/misans/misans-regular/result.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/misans-webfont/4.3.1/misans/misans-medium/result.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/misans-webfont/4.3.1/misans/misans-bold/result.min.css"
		/>

		<!-- Cloudflare Web Analytics -->
		<script
			is:inline
			async
			src="https://cwa.xeonzilla.top/fuwari-debug.js"
			data-cf-beacon='{"send":{"to": "https://cwa.xeonzilla.top/fuwari-debug"},"token": "b9c63268ef0347f2a3f9dd68ad60b8cc"}'
		></script>

		<SEO
			pageTitle={pageTitle}
			description={description || pageTitle}
			siteLang={siteLang}
			ogImageUrl={ogImageUrl}
			setOGTypeArticle={setOGTypeArticle || false}
			favicons={favicons}
			authorName={profileConfig.name}
			siteTitle={siteConfig.title}
			url={Astro.url}
			siteUrl={Astro.site!}
		/>

		<!-- Set the theme before the page is rendered to avoid a flash -->
		<script
			is:inline
			define:vars={{
				DEFAULT_THEME,
				LIGHT_MODE,
				DARK_MODE,
				AUTO_MODE,
				BANNER_HEIGHT_EXTEND,
				PAGE_WIDTH,
				configHue,
			}}
		>
			// Load the theme from local storage
			const theme = localStorage.getItem("theme") || DEFAULT_THEME;
			switch (theme) {
				case LIGHT_MODE:
					document.documentElement.classList.remove("dark");
					break;
				case DARK_MODE:
					document.documentElement.classList.add("dark");
					break;
				case AUTO_MODE:
					if (
						window.matchMedia("(prefers-color-scheme: dark)")
							.matches
					) {
						document.documentElement.classList.add("dark");
					} else {
						document.documentElement.classList.remove("dark");
					}
			}

			// Load the hue from local storage
			const hue = localStorage.getItem("hue") || configHue;
			document.documentElement.style.setProperty("--hue", hue);

			// calculate the --banner-height-extend, which needs to be a multiple of 4 to avoid blurry text
			let offset = Math.floor(
				window.innerHeight * (BANNER_HEIGHT_EXTEND / 100),
			);
			offset = offset - (offset % 4);
			document.documentElement.style.setProperty(
				"--banner-height-extend",
				`${offset}px`,
			);
		</script>
		<style
			define:vars={{
				configHue,
				"page-width": `${PAGE_WIDTH}rem`,
			}}
		></style>
		<!-- defines global css variables. This will be applied to <html> <body> and some other elements idk why -->

		<slot name="head" />
	</head>
	<body
		class="min-h-screen transition"
		class:list={[{ "is-home": isHomePage }]}
		data-overlayscrollbars-initialize
	>
		<ConfigCarrier />
		<slot />

		<!-- increase the page height during page transition to prevent the scrolling animation from jumping -->
		<div id="page-height-extend" class="hidden h-[300vh]"></div>
		<ScrollManager client:load />
		<LayoutManager client:idle={{ timeout: 1000 }} />
		<ImageManager client:idle={{ timeout: 500 }} />
	</body>
</html>

<style
	is:global
	define:vars={{
		bannerOffset,
		"banner-height-home": `${BANNER_HEIGHT_HOME}vh`,
		"banner-height": `${BANNER_HEIGHT}vh`,
	}}
></style>
